.skill {
	background: lightcoral;
	text-align: center;
	font-weight: bold;
	transition: all 0.3s ease;
	margin: min(1vw, 1vh);
}

.skill-icon {
}

.skills {
}

.skills-item {
	background-color: black;
	color: white;
}